
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: flex-start;

    font-size:0.8em;
    color: #666666; 
    font-family: Arial, sans-serif;

    background-color:#d1e0eb;
}

main {
    width: 95%;
    padding: 10px;
    margin: 10px auto;

    border-radius: 10px;
    background-color: #f7f7f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
main.libros {
    width: 95%;
    padding: 20px;
    margin: 20px auto;

    border-radius: 10px;
    background-color: #f7f7f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main.libros h3 {
    margin: 0px 0 0 0;
    padding:5px 5px 5px 10px;

    font-size:1.3em;
    text-align: left;

    border-radius: 5px 0px 0px 5px;
    background: linear-gradient(to right, #add8e6, rgba(173, 216, 230, 0));
}

/* ******************************* */

#txtInfoCategorias{
    width: auto;
    display: inline-block;

    margin:10px 0px 3px 0px;
    padding:3px 5px 3px 5px;

    border-radius: 5px 5px 5px 5px;
    background-color: #e7f4f5;
    border: 1px solid rgb(122, 165, 181);
}
#txtInfoCategorias label{
    font-weight:bold;
}

/* ******************************* */

#txtInfoLibros{
    width: auto;
    display: inline-block;

    margin:10px 0px 3px 0px;
    padding:3px 5px 3px 5px;

    border-radius: 5px 5px 5px 5px;
    background-color: #e7f4f5;
    border: 1px solid rgb(122, 165, 181);
}
#txtInfoLibros label{
    font-weight:bold;
}

/* ******************************* */

.boxBooks {
    gap: 10px;
    padding: 0px 0px 10px 0px;

    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.box {
    padding: 10px;
    flex: 1 1 25%;
    color: #888888;
    text-align: left;
    word-break: break-word;

    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid rgb(133, 159, 168);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item {
    margin: 0px;
    padding: 5px 0px 5px 0px;
    /* border-bottom: 1px dotted #999999; */
}
.item:last-child {
    margin: 0px;
    /* border-bottom: 0px solid #999999; */
}

label.num {
    width: auto;
    display: inline-block;
    padding:3px 5px 3px 5px;
    margin-bottom:2px;

    font-weight:bold;

    border-radius: 5px;
    background-color: #D9E9BE;
    border: 1px solid rgb(57, 168, 24);
}
.item label {
    display: block;
    padding: 2px 2px 2px 5px;

    color: #333;
    font-weight: bold;

    background-color: #e2e7ec;
    border-radius: 5px 5px 0px 0px;
}

.item .dato {
    padding-top: 10px;
    padding: 5px 5px 5px 5px;

    color: #333333;
    font-weight: normal;

    background-color: #F5F9EE;
    border-radius: 0px 0px 5px 5px;
}

.item .datoMain {
    padding-top: 10px;
    padding: 5px 5px 5px 5px;

    color: #333333;
    font-weight: normal;

    background-color: #eef8f9;
    border-radius: 5px 5px 5px 5px;
}

.box .datoMain a {
    font-size: 1.3em;
    color: #007bff;
    text-decoration: none;
}

.box .datoMain a:hover {
    font-size: 1.3em;
    text-decoration: underline;
}

.item.especial {

    padding: 5px 5px 5px 5px;

    border-radius: 5px;
    background-color: #f8f9ee;
}

.tituloBook {

    padding: 5px 5px 5px 5px;
    
    border-radius: 5px 5px 0px 0px;
    background-color: #d6dd84;
}
.tituloBook .num {
    width: auto;
    display: inline-block;
    padding:3px 5px 3px 5px;
    margin-bottom:2px;

    font-weight:bold;

    border-radius: 5px;
    background-color: #f6f8f3;
    border: 1px solid rgb(163, 207, 150);
}
.tituloBook .span {
    font-weight:bold;
}

/* ******************************* */

.img_width {

    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 100%; /* Previene que la imagen se salga del contenedor */

    width: 65%;       /* Ocupa el 75% del ancho del contenedor */
    display: block;   /* Necesario para centrar con margin auto */
    margin: 0 auto;

    border-radius: 5px;
}

/* ******************************* */

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/noeslapaginaquestasbuscando.png'); /* Ruta de la imagen */
    background-size: cover; /* La imagen cubre todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: none; /* flex */
    justify-content: center;
    align-items: center;
}

.contenido {
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semi-transparente para el contenido */
    color: white; /* Color del texto */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%; /* Limita el ancho máximo del contenido */
}

/* ******************************* */

.loader {
    width: 50px;
    height: 50px;
    margin: 20px auto;

    display: block;

    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.loader.black {
    border: 8px solid #243642;
    border-top: 8px solid #3498db;
}
.loader.white {
    border: 8px solid #eef6ff;
    border-top: 8px solid #3498db;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ******************************* */