
/* Botón para abrir el modal */
.button {
    padding: 8px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 1.0em;
    background-color: rgb(222, 186, 139);

    border: 1px solid #ccc;
    border-radius: 5px; 

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); /* Sombra para el botón */
    transition: background-color 0.3s, box-shadow 0.3s; /* Efecto suave en hover */
}

.button:hover {
    background-color: rgb(233, 207, 174);  /* Color de fondo en hover */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); /* Sombra más intensa en hover */
}

/* Fondo del modal */
.bg_modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro transparente */
}

.hidden {
    display: none;
}

/* Estilos de la ventana modal */
.modal {
    width: 400px;
    padding: 20px;
    margin: 0px 10px;

    font-size:1.3em;
    font-weight:bold;
    text-align: left;

    word-wrap: break-word;
    
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra en el eje Y */
}
.modal.white{
    color: rgb(13, 38, 76);
    background-color: #ffffff;
}
.modal.black{
    color: rgb(255, 255, 255);
    background-color: #1e2d38;
}

#txtMensajeModal{
    font-size: 0.8em;
    text-align: center;
    color: rgb(90, 120, 164);
}

.buttonsModal{
    text-align: center;
}
/* Botón dentro del modal */
.modal button {
    margin-top: 15px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
}

.modal button:hover {
    background-color: #0056b3;
}

